[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
superb-ai-label = "*"
superb-ai-curate = "*"
setuptools = "*"
click = "*"
configparser = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
