[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
superb-ai-label = "==0.21.1"
superb-ai-curate = "==1.2.1"
setuptools = "*"
click = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
